<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4 th:if="${cars.size()>0}" th:text="'Cars: ' + ${cars.size()}"> </h4>
<div class=" col-6">
    <h3 th:unless="${cars} and ${cars.size()}">There are no cars!</h3>
    <table th:if="${cars.size()>0}" class="table table-hover">
        <th>Plate</th>
        <th>year</th>
        <th>Brand</th>
        <th>Model</th>
        <th sec:authorize="hasAuthority('ADMIN')">Edit</th>
        <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
        <tr th:each="car : ${cars}">
            <td th:text="${car.plate}"></td>
            <td th:text="${car.year}"></td>
            <td th:text="${car.brand.brand}"></td>
            <td th:text="${car.model}"></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-info" th:href="@{'/cars/edit-car/'+${car.id}}">Edit</a></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" th:href="@{'/cars/delete/'+${car.id}}">Delete</a></td>
        </tr>
    </table>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>